name: test
on: push
jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Compile
      run: gcc dice_roll.c -o dice_roll

    - name: Normal/Invalid input test
      run: bash ./normal_input_test.bash
      run: bash -xv ./invalid_input_test.bash
